@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 3rem;  
  margin: 6vh;
  border: 7px dashed #ffafbd;
  font-weight: 700;
  border-radius: 20px;
  padding: 1vh 5vh;
}
.image{
  width: 380px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.card{
  width: 400px;
  height: max-content;
  margin: 1rem;
  padding: 1rem;
  font-display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
  align-items: center;
}

.tour-info{
  margin: 20px 5px;
}
.tour-price{
  font-weight: 700;
  font-size: 1.3rem;
  color:#1faa59 ;
}
.tour-name{
  font-weight: 700;
  font-size: 1.5rem;
}

.read-more{
  color: #12b0e8;
  cursor: pointer;
}

.btn-red{
  margin-top: 18px;
  padding: 10px 80px;
  border: 1px solid rgb(219, 42, 42);
  border-radius: 10px;
  position: relative;
  left: 50%       ;
  transform: translateX(-50%);
  font-size: 18px;
  background-color: rgb(238, 154, 154);
}
.btn-red:hover{
  background-image: linear-gradient(to right top, #ffafbd, #ff8e9b, #ff6a73, #ff4344, #ff0000);
  color: white;
  transition: all .2s ;
}



.btn-white{
  margin-top: 18px;
  padding: 10px 60px;
  font-weight: 600;
  border: 1px solid #ffafbd;
  border-radius: 10px;
  position: relative;
  font-size: 15px;
  
  background-color: #ffafbd;
}
.btn-white:hover{
  /* background-color: rgb(220, 119, 234); */
  background-image: linear-gradient(to right top, #ffafbd, #f99ba8, #f18891, #e8757a, #de6262);
  color: white;
  transition: all .2s ;
}

.refresh{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.refresh h2{
  font-size: 25px;
  
  font-weight: 500;
}